
div{
    background-color:seashell;
    margin-left: 390px;
    margin-right: 450px;
   border-radius: 10px;
}
label{
    font-family: 'Georgia';
    margin-left: 180px;
    color:black;
}
h1 {
    font-size: 50px;
    color: brown;
    text-align: center;
    font-family: Georgia;
}
#Ncompleto {

    margin-bottom: 10px;
    margin-right: 180px;
    margin-left: 180px;
    border-width: 3px;
    border-style: solid;
    border-color:brown;
    border-radius: 5px;
    padding: 7px;
}
#end{
    margin-right: 180px;
    margin-left: 180px;
    border-width: 3px;
    border-style: solid;
    border-color: brown;
    border-radius: 7px;
    padding: 7px;
}
#tel{
    margin-right: 180px;
    margin-left: 180px;
    border-width: 3px;
    border-style: solid;
    border-color: brown;
    border-radius: 7px;
    padding: 7px;
}
.botão{
    border-bottom-style: solid;
    border-bottom-color:black; 
    border-bottom-left-radius: auto;
    border-bottom-right-radius: auto;
    margin-left: 180px;
}