.fundão{
    background-image: url(https://images.unsplash.com/photo-1517837817850-607cd9ff1015?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
   padding:15rem;
   background-size: cover;
   margin-left: -1%;
   margin-right: -1%;
   margin-top: -15%;
}
.primeiro{    
    position: relative;
}
.primeiro nav{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    position: relative;
    
}
.primeiro nav h2{
    color:white;
    margin-left: 3%;
    font-size: 230%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.linha {
    margin-left: -1%;
    margin-top: -1%;
    margin-right: -1%;
    display: inline;
    background-position: top; 
    background-color:#0C6D75;
   
    }
.opções{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.opções li a{
    padding: 2rem;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 110%;
}
h1{ 
    text-align: center;
    font-family: Times New Roman;
    font-size:250%;
    color: white;

}
.prin{
    color: white;
    font-size: 250%;
    text-align: center;
    font-family: Verdana;
    margin-top: 12%;
}
.facedois{
   background-color:#0C6D75;
   margin-left: -1%;
   margin-right: -1%;

}
.dois{
    font-family: verdana;
    color:white ;
    font-size: 200%;  
    display:inline;
    text-align: center;
    padding: 3rem;
}
.facetres{
    background-color:rgb(0, 0, 0);
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -2%;
}
img{
    float: right;
    margin-top: -15rem;
    width: 34rem;
    height: 22rem;
    margin-right: 4%;
   margin-top: -21%
}
p{
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: verdana;
}
.serv{
    color: white;
    font-family: verdana;
    float: inline-start;
    margin-left: 15%;
    font-size: 100%;

}
form{
background-image: url(https://images.unsplash.com/photo-1623998021388-e68e62595adf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=389&q=80);
background-size: cover;
background-repeat: no-repeat;
padding: 9rem;
margin-left: -1%;
margin-right: -1%;
margin-top: -7%;
} 
.sub{
    background-color: white;
    margin-left: 30%;
    margin-right: 27%;
    padding: 3%;

}
hr{
    color: white;
}
label{
    color:black;
    font-family: Verdana;
    font-size: 100%;
    margin-left: 30%;
    margin-right: 7%;
}
.PP{
    border-color: #0C6D75;
    margin-left: 30%;
    margin-right: 7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    border-style: solid;
}
.SS{
    border-color:#0C6D75 ;
    margin-left: 30%;
    margin-right: 7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    border-style: solid;
}
.TT{
    border-color: #0C6D75;
    margin-left: 30%;
    margin-right: 7%;
    padding-left: 2%;
    padding-right: 2%;
    border-style: solid;
}
.botão{
    border-bottom-style:groove;
    border-bottom-color:#0C6D75;
    margin-left: 44%;
    margin-right: 40%;
    padding-left:2%;
    padding-right:2%;
}
